In [6]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sql-murder-mystery.db')
cursor = conn.cursor()

In [14]:
# Query to list all tables
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(tables_query)

# Fetch all table names
table_names = cursor.fetchall()

# Print the table names
for table in table_names:
    print(table[0])

crime_scene_report
drivers_license
person
facebook_event_checkin
interview
get_fit_now_member
get_fit_now_check_in
income
solution

In [13]:
query = "SELECT * from crime_scene_report where date = '20180115' and type = 'murder' and city = 'SQL City'"

df = pd.read_sql_query(query, conn)
print(df)

#Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

       date    type                                        description  \
0  20180115  murder  Security footage shows that there were 2 witne...

       city
0  SQL City

In [21]:
query = "SELECT * from person where name like '%Annabel%' and address_street_name = 'Franklin Ave'"

df = pd.read_sql_query(query, conn)
print(df)

      id            name  license_id  address_number address_street_name  \
0  16371  Annabel Miller      490173             103        Franklin Ave

         ssn
0  318771143

In [24]:
query = "SELECT * from person where address_street_name = 'Northwestern Dr' and address_number = (SELECT MAX(address_number) FROM person WHERE address_street_name = 'Northwestern Dr')"

df = pd.read_sql_query(query, conn)
print(df)

      id            name  license_id  address_number address_street_name  \
0  14887  Morty Schapiro      118009            4919     Northwestern Dr

         ssn
0  111564949

In [29]:
query = '''
    SELECT * 
    from interview 
        where person_id in (16371, 14887)
'''

df = pd.read_sql_query(query, conn)
print(df)

   person_id                                         transcript
0      14887  I heard a gunshot and then saw a man run out. ...
1      16371  I saw the murder happen, and I recognized the ...

In [34]:
query = '''
    SELECT * 
    from get_fit_now_member
    where id like '48Z%'
'''

df = pd.read_sql_query(query, conn)
print(df)

      id  person_id           name  membership_start_date membership_status
0  48Z38      49550  Tomas Baisley               20170203            silver
1  48Z7A      28819   Joe Germuska               20160305              gold
2  48Z55      67318  Jeremy Bowers               20160101              gold

In [32]:
query = '''
    SELECT * 
    from drivers_license
    where plate_number like '%H42W%'
'''

df = pd.read_sql_query(query, conn)
print(df)

       id  age  height eye_color hair_color  gender plate_number   car_make  \
0  183779   21      65      blue     blonde  female       H42W0X     Toyota
1  423327   30      70     brown      brown    male       0H42W2  Chevrolet
2  664760   21      71     black      black    male       4H42WR     Nissan

  car_model
0     Prius
1  Spark LS
2    Altima

In [37]:
query = '''
    SELECT * 
    from get_fit_now_check_in
    where check_in_date = '20180109'
    and membership_id in (
       SELECT distinct id
    from get_fit_now_member
    where id like '48Z%'
    )
'''

df = pd.read_sql_query(query, conn)
print(df)

  membership_id  check_in_date  check_in_time  check_out_time
0         48Z7A       20180109           1600            1730
1         48Z55       20180109           1530            1700

In [ ]:
# Joe Germuska , Jeremy Bowers

In [40]:
query = '''
    SELECT * 
    from person where license_id in (  SELECT distinct id
    from drivers_license
    where plate_number like '%H42W%')
'''

df = pd.read_sql_query(query, conn)
print(df)

      id            name  license_id  address_number    address_street_name  \
0  51739  Tushar Chandra      664760             312                 Phi St
1  67318   Jeremy Bowers      423327             530  Washington Pl, Apt 3A
2  78193  Maxine Whitely      183779             110                Fisk Rd

         ssn
0  137882671
1  871539279
2  137882671

In [42]:

cursor = conn.cursor()
sql = "INSERT INTO solution VALUES (1, 'Jeremy Bowers')"
cursor.execute(sql)
conn.commit() 
var = pd.read_sql("SELECT value FROM solution", conn)
var.iloc[0,0]

"Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villian behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer."